<div class="block-searchenfant" id="block-searchenfant{% if (instance) %}{{ '-'~instance}}{% endif %}">

{{ form_start(form_search) }}

{{ form_rest(form_search) }}
<button class="btn-search" name="childconnect_ccsoftbundle_searchenfantype[submit]" id="childconnect_ccsoftbundle_searchenfantype_submit" type="submit"><i class="genericon genericon-search" alt="f400"></i></button>
{{ form_end(form_search) }}
</div>